//專案提供scss全域變數
//定義項目主題顏色

//左側的選單的寬度
$base-menu-width:260px;
//左側選單的背景顏色
$base-menu-background:#001529;
$base-menu-min-width:50px;

// 頂部導航的高度
$base-tabbar-height:50px;

//左側選單logo高度設定
$base-menu-logo-height:50px;

//左側選單logo右側文字大小
$base-logo-title-fontSize:20px;
